body {
    text-align: center;
    font-size: 16;
}

.container {
}

#keywordCont {
    text-align: left;
    float:left;
}

.kwgContainer {
    color:black;
    transition:.3s;
    cursor:pointer;
    padding: 0 5px;

    /*dupl from keyw_setWidth*/
    width:90px;
    text-align: center;
    display: inline-block;
}

.kwgContainer:hover {
    background-color: rgb(253, 252, 40);
}

.kwgRotating {
    display:inline;
}

.kwgContainer.longhover .kwgRotating {
    display:none;
}

.kwgHover {
    display:none;
}

.kwgContainer.longhover .kwgHover {
    display:inline;
}

.kwgContainer.longhover {
    width:auto;
    text-align: left;
    display:inline;
    color:rgb(149, 110, 143);
}

.keywg_active {
    background-color: rgb(202, 200, 245);
}

.bodyPane {
    width:80%;
    display:block;
    margin: 0 auto;
    background-color: rgb(237, 237, 237);
    margin-top:20px;
    margin-bottom:20px;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    height:0;
}

.bodyPane.transition {
    transition: height 0.5s;
}

.keyword_group:active {
    background-color:rgb(255, 254, 197);
}