<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

        <script src="../static/js/frontend.js"></script>
        <script src="../static/js/frontend_backbone.js"></script>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <div class="container">
            <h3>newsmosaic</h3>
        </div>
        <div id="keywordCont" class="panel panel-default">
            <div class="keywordSetWidth"></div>
        </div>
    </body>
</html>