<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <div class="container">
            <h3>newsmosaic</h3>
        </div>
        <div class="panel panel-default">
            <span class="keyword_group">asdfasdfasdf</span>
            <span class="keyword_group">asdfasdfasdf</span>
            <span class="keyword_group">asdfasdfasdf</span>
            <span class="keyword_group">asdfasdfasdf</span>
            <span class="keyword_group">asdfasdfasdf</span>
            <span class="keyword_group">asdfasdfasdf</span>
        </div>

    </body>
</html>